<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!--Bootstrap-->
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'
      integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk'
      crossorigin='anonymous'
    />
    <style>
      .cart-item { user-select: none; display: flex; flex-direction: row; width: 50%; margin-bottom:
      1rem; } .cart-item img { max-width: 5vh; width: 200px; margin: 0 20px; } .cart-item span {
      margin: auto; width: 150px; text-align: center; } .cart-container { margin: 1rem; } h3 { margin:
      1rem; margin-bottom: 3rem; } .btn-custom { margin-left: 2rem; margin-top: 2rem; }
    </style>
    <title>Products APP</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>