<!DOCTYPE html>
<html lang="es">
  <%- include("template/head") %>
  <title>Login</title>
  <body>
    <div class="header">
      <img src="http://via.placeholder.com/200x100" alt="Logo" class="logo">
    </div>
    <form action="/auth/login" method="post" class='form-container'>    
      <div class="container">
        <label for="username"><b>Email</b></label>
        <input type="text" placeholder="Ingrese su usuario" name="username" required>
    
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
            
        <button class="btn-login" type="submit">Ingresar</button>
      </div>
    
      <div class="container-bottom" style="background-color:#f1f1f1">
        <span class="psw"><a href="/auth/register">Registrarse</a></span>
      </div>
    </form>
  </body>
</html>
