<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!--Bootstrap-->
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'
      integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk'
      crossorigin='anonymous'
    />
    <style>
      .cart-item { user-select: none; display: flex; flex-direction: row; width: 50%; margin-bottom:
      1rem; } .cart-item img { max-width: 5vh; width: 200px; margin: 0 20px; } .cart-item span {
      margin: auto; width: 150px; text-align: center; } .cart-container { margin: 1rem; } h3 { margin:
      1rem; margin-bottom: 3rem; } .btn-custom { margin-left: 2rem; margin-top: 2rem; } .container {
      border: 2px solid #dedede; background-color: #f1f1f1; border-radius: 5px; padding: 10px; margin:
      10px 0; } .container::after { content: ""; clear: both; display: table; } .container img {
      float: left; max-width: 60px; width: 100%; margin-right: 20px; border-radius: 50%; height:
      60px;} .time { float: left; color: #999; } .container .user { color: rgb(0, 0, 131);,
      font-weight: 800 ; } .container p { font-style: italic; } #tableProducts { margin-bottom: 5rem;
      } h3 { margin-bottom: 1rem; } #tableProducts{ background-color: rgb(184, 184, 184); padding:
      2rem;}

    </style>
    <title>Products APP</title>
  </head>
  <body>
    {{{body}}}

    <script src='./socket.io/socket.io.js'></script>
    <script src='./index.js'></script>
  </body>
</html>